<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9LV99QjdzNh5A2X_ZIHHrbhgJ-4fsnME</string>
	<key>GCM_SENDER_ID</key>
	<string>898837897298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crud-e044a</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-e044a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898837897298:ios:c9568833d9fe66a99b7f8b</string>
</dict>
</plist>